*{
    margin:0;
    padding:0;
}

#form1{
    font-family: 黑体;
    color: darkseagreen;

}

/*#btn1{
    position: relative;
    margin-left: 50px;
    margin-top:15px;
    background-color: aliceblue;
}*/
/*#submit1{
    position: relative;
    margin-left: 50px;
    margin-top:15px;
    background-color: aliceblue;
}*/

h4{
    text-shadow:4px 3px 3px #46659e;
}
#part1{
    background-color: #5bc0de;
    width:100%;
    height:700px;
    position: relative;
    margin-top:-20px;
    opacity: 0.5;
    /*box-shadow: 10px 10px 5px black;*/
}
#bt{
    position: absolute;
    margin-top:600px;
    margin-left: 800px;
    background-color:white;
    color:#5bc0de;
    -moz-box-shadow: 10px 10px 5px #46659e; /* 老的 Firefox */
    box-shadow: 10px 10px 5px #46659e;
}
#bt:hover{
    background-color: blueviolet;
}
.h{
    text-shadow:4px 3px 3px #46659e;

}
.p1{
    font-family: 华文细黑;
    font-weight: 300;
    font-size: 17px;
    color: white;
    text-indent:50px;
}
#part2{
    position: relative;
    margin-top:-550px;
    font-family: "Times New Roman";
}

#part3{
    position: relative;
    margin-top:200px;
}
#part4{
    position: relative;
    margin-top:200px;
}
#part5{
    margin-top:200px;
}
#part5 h1{
    margin-left: 40%;
    text-shadow:4px 3px 3px #8b8881;
}
#part5 img{
    width:300px;
    height:400px;
}

#bt3{
    display: inline-block;
    padding:10px 20px;
    margin-top:80px;
    margin-left:300px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #77c5de;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}
#bt3 :hover{
    background-color: #77c5de;
}
#bt3:active {
    background-color: #77c5de;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}






#part6{
    margin-top:300px;

}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width:30%;
    margin: auto;

}
#part7{
    position: relative;
    margin-top: 50px;
    background-color: #77c5de;
    width: 100%;
}
#bt1{
    width:150px;
    height:50px;
   display: inline-block;
    border-radius: 4px;
    background-color: #f4bddc;
    border: none;
    color: #FFFFFF;
    font-size: 16px;
    transition: all 0.5s;
    cursor: pointer;
    text-align:center;
    position: absolute;
    margin-left:150px;
    margin-top:50px;
}
#bt1 span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

#bt1 span:after {
    content: '<<<';
    position: absolute;
    opacity: 0;
    top: 0;
    left: -80px;
    transition: 0.5s;
}

#bt1:hover span {
    padding-left: 40px;
}

#bt1:hover span:after {
    opacity: 1;
    right: 0;
}

#bt2{
    width:150px;
    height:50px;
    display: inline-block;
    border-radius: 4px;
    background-color: #f4bddc;
    border: none;
    color: #FFFFFF;
    font-size: 16px;
    transition: all 0.5s;
    cursor: pointer;
    text-align:center;
    position: absolute;
    margin-top: 50px;
}
#bt2 span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

#bt2 span:after {
    content: '>>>';
    position: absolute;
    opacity: 0;
    top: 0;
    right: 50px;
    transition: 0.5s;
}

#bt2:hover span {
    padding-right: 35px;
}

#bt2:hover span:after {
    opacity: 1;
    right: 0;
}
