*{
    margin:0;
    padding:0;
}

#myScrollspy{
    background-color: white;
}

.affix {
    top:25%;
}
#img{
    position: absolute;
    margin-left:20%;
    margin-top:40px;
}
#btn{
    position: absolute;
    margin-left:80%;
    margin-top:60px;
}
#form1{
   font-size: 15px;
    color: #00cbfa;
}

/*#btn1{
    position: relative;
    margin-left: 50px;
    margin-top:15px;
    background-color: aliceblue;
}*/
/*#submit1{
    position: relative;
    margin-left: 50px;
    margin-top:15px;
    background-color: aliceblue;
}*/

h4{
    text-shadow:4px 3px 3px #46659e;
}

#bt{
   position: absolute;
    margin-left: 45%;
    margin-top:-10%;
}

#part2{
    position: relative;
    margin-top:150px;
}
#part2 img{
    width:80%;
    height:450px;

}
#part3{
    position: relative;
    margin-top:150px;
}

#part3 img{
    width:80%;
    height:450px;
}
#part4{
    margin-top:150px;
}
#part4 h1{
    margin-left: 40%;
    text-shadow:4px 3px 3px #8b8881;
}
#part4 img{
    width:400px;
    height:600px;
}
#myCarousel{
    margin-top: 150px;
}
#bt3{
    display: inline-block;
    padding:10px 20px;
    margin-top:80px;
    margin-left:300px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #46659e;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #090952;
}
#bt3 :hover{
    background-color: #77c5de;
}
#bt3:active {
    background-color: #77c5de;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

#btn2{
    margin-right:10%;
}
#btn3{
    margin-right:3%;
}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width:60%;
    margin: auto;

}

#bt1{
    width:150px;
    height:50px;
   display: inline-block;
    border-radius: 4px;
    background-color: #006699;
    border: none;
    color: #FFFFFF;
    font-size: 16px;
    transition: all 0.5s;
    cursor: pointer;
    text-align:center;
    position: absolute;
    margin-left:150px;
    margin-top:50px;
}
#bt1 span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

#bt1 span:after {
    content: '<<<';
    position: absolute;
    opacity: 0;
    top: 0;
    left: -80px;
    transition: 0.5s;
}

#bt1:hover span {
    padding-left: 40px;
}

#bt1:hover span:after {
    opacity: 1;
    right: 0;
}

#bt2{
    width:150px;
    height:50px;
    display: inline-block;
    border-radius: 4px;
    background-color: #006699;
    border: none;
    color: #FFFFFF;
    font-size: 16px;
    transition: all 0.5s;
    cursor: pointer;
    text-align:center;
    position: absolute;
    margin-top: 50px;
}
#bt2 span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

#bt2 span:after {
    content: '>>>';
    position: absolute;
    opacity: 0;
    top: 0;
    right: 50px;
    transition: 0.5s;
}

#bt2:hover span {
    padding-right: 35px;
}

#bt2:hover span:after {
    opacity: 1;
    right: 0;
}

#part5{
    position: relative;
    margin-top: 100px;
    background-color: #a6d2de;
    width: 100%;
    color: #05050a;
}
