{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Data mining</title>
    <link type="text/css" rel="stylesheet" href="{% static 'walmart/css/style.css' %}" />
    <link type="text/css" rel="stylesheet" href="{% static 'walmart/css/bootstrap.min.css' %}" />
    <link type="text/css" rel="stylesheet" href="{% static 'walmart/css/button.css' %}" />
    <script src="{% static 'walmart/js/jquery.min.js' %}"></script>
    <script src="{% static 'walmart/js/bootstrap.min.js' %}"></script>

    <script type="text/javascript" >
        $(document).ready(function(){
            $("#btt").click(function(){
                var $btt = $(this);
                $btt.button('loading');
                setTimeout(function(){
                    $btt.button('reset');
                }, 5000);
                $.get("method",function(data,status){
                    alert("Data: " + data + "\nStatus: " + status);
                });
            })
        });
        $(function(){
            // 初始化轮播
            $(".start-slide").click(function(){
                $("#myCarousel").carousel('cycle');
            });
            // 停止轮播
            $(".pause-slide").click(function(){
                $("#myCarousel").carousel('pause');
            });
            // 循环轮播到上一个项目
            $(".prev-slide").click(function(){
                $("#myCarousel").carousel('prev');
            });
            // 循环轮播到下一个项目
            $(".next-slide").click(function(){
                $("#myCarousel").carousel('next');
            });
            // 循环轮播到某个特定的帧
            $(".slide-one").click(function(){
                $("#myCarousel").carousel(0);
            });
            $(".slide-two").click(function(){
                $("#myCarousel").carousel(1);
            });
            $(".slide-three").click(function(){
                $("#myCarousel").carousel(2);
            });
        });
    </script>
</head>
<body>
<header>
    <nav class="navbar navbar-inverse " >
        <div class="container-fluid">
            {% if user.is_authenticated %}
                <p>Welcome, {{ user.username }}. Thanks for logging in.</p>
            {% else %}
                <p>Welcome, new user. Please log in.</p>
            {% endif %}
            <div class="navbar-header">
                <a class="navbar-brand" href="#" >Walmart</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="index.html">Home</a></li>
                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Content<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#part3">Background</a></li>
                        <li><a href="#part3">Status</a></li>
                    </ul>
                </li>
                <li><a href="#">Project</a></li>
                <li><a href="#">Summary</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#" ><span data-toggle="modal" data-target="#myModal1">Login</span></a></li>
            </ul>
        </div>
    </nav>
    <div class="modal fade" id="myModal1" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Please login</h4>
                </div>
                <div class="modal-body">
                    <form method="post" action="{% url 'walmart:login' %}" id="form1">
                        {% csrf_token %}
                        {{ form }}
                        <br/>
                        <a href="#" class="button button-glow button-border button-rounded button-primary" data-dismiss="modal">Cancel</a>
                        <input type="submit" value="Submit" class="button button-glow button-rounded button-raised button-primary">
                    </form>
                </div>
                <div class="modal-footer">

                </div>
            </div>
        </div>
    </div>
</header>
<div id="part1">
    <a href="#" class="button button-glow button-rounded button-raised button-caution" id="bt">Get Started!</a>
</div>
    <div class="container" id="part2">
        <div class="row">
            <div class="col-md-6">
                <img src="{% static 'walmart/img/img.png' %}" />
                </div>
            <div class="col-md-6">
        <h1 class="h"> Welcome to the "Data ming house"</h1>
        <p class="p1">It will showssssssssssssssssssssssssssssssssssssssss</p>
                <p class="p1">It will showssssssssssssssssssssssssssssssssssssssss</p>
                <p class="p1">It will showssssssssssssssssssssssssssssssssssssssss</p>
                <p class="p1">It will showssssssssssssssssssssssssssssssssssssssss</p>
                <p class="p1">It will showssssssssssssssssssssssssssssssssssssssss</p>
                <p class="p1">It will showssssssssssssssssssssssssssssssssssssssss</p>


            </div>
        </div>
    </div>

    <div class="container" id="part3">
        <div class="row">
            <div class="col-md-6">
                <img src="{% static 'walmart/img/img1.jpg' %}" />
            </div>
            <div class="col-md-6">
                <h1> Background</h1>
                <p>It will showssssssssssssssssssssssssssssssssssssssss</p>
                <p>It will showssssssssssssssssssssssssssssssssssssssss</p>
                <p>It will showssssssssssssssssssssssssssssssssssssssss</p>
                <p>It will showssssssssssssssssssssssssssssssssssssssss</p>
                <p>It will showssssssssssssssssssssssssssssssssssssssss</p>
                <button id="bt1"  ><span>Read more</span></button>
            </div>
        </div>
    </div>

    <div class="container" id="part4">
        <div class="row">
            <div class="col-md-6">
                <h1> Status</h1>
                <p>It will showssssssssssssssssssssssssssssssssssssssss</p>
                <p>It will showssssssssssssssssssssssssssssssssssssssss</p>
                <p>It will showssssssssssssssssssssssssssssssssssssssss</p>
                <p>It will showssssssssssssssssssssssssssssssssssssssss</p>
                <p>It will showssssssssssssssssssssssssssssssssssssssss</p>
                <button id="bt2"  ><span>Read more</span></button>
            </div>
            <div class="col-md-6">
            <img src="{% static 'walmart/img/img1.jpg' %}" />
        </div>
        </div>
    </div>

<div  id="part5">
    <h1>Project</h1>
    <div class="container">
        <div class="row">
        <div class="col-md-6">
            <img src="{% static 'walmart/img/img2.png' %}">
        </div>
    <div class="col-md-6">
        <h2>How does it to work?</h2>
        <p>wwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwg</p>
        <p>wwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwg</p>
        <p>wwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwg</p>
        <p>wwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwww</p>
        <p>wwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwgg</p>
        <p>wwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwgg</p>
        <button  data-toggle="modal" data-target="#myModal" id="bt3">Try it</button>
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Project</h4>
                    </div>
                    <div class="modal-body">
                        <button type="button" class="btn btn-default " data-am-loading="{spinner: 'circle-o-notch', loadingText: '加载中...}" id="btt">start......</button>
                        <p id="pp"></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
    </div>
    </div>


</div>


<div id="myCarousel" class="carousel slide">
    <!-- 轮播（Carousel）指标 -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0"
            class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <!-- 轮播（Carousel）项目 -->
    <div class="carousel-inner">
        <div class="item active">
            <img src="{% static 'walmart/img/img3.jpg' %}" alt="First slide">
        </div>
        <div class="item">
            <img src="{% static 'walmart/img/img3.jpg' %}" alt="Second slide">
        </div>
        <div class="item">
            <img src="{% static 'walmart/img/img3.jpg' %}" alt="Third slide">
        </div>
    </div>
    <!-- 轮播（Carousel）导航 -->
    <a class="carousel-control left" href="#myCarousel"
       data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#myCarousel"
       data-slide="next">&rsaquo;</a>
    <!-- 控制按钮 -->
    <br/>
    <br/>
    <br/>
    <br/>
    <div style="text-align:center;">
        <input type="button" class="btn prev-slide button button-glow button-rounded button-royal" value="Previous" id="btn2">
        <input type="button" class="btn next-slide button button-glow button-rounded button-royal" value="Next Slide" id="btn3">

    </div>
</div>


<footer class="container-fluid text-center" id="part7">
   <h1>Please contact us!</h1>
    <div class="container" >
        <div class="row">
            <div class="col-md-12">
                <p>It will showsssssssssssssssssssssssssssssssssss</p>
                <p>It will showsssssssssssssssssssssssssssssssssssjjjjjjjjj</p>
                <p>It will showsssssssssssssssssssssssssssssssssssjjjjjjjjjjjjj</p>
            </div>
        </div>
    </div>
    <a href="#" class="button button-glow button-rounded button-raised button-caution" id="btn4">Go ahead</a>
</footer>
</body>
</html>
